@import url('https://fonts.googleapis.com/css2?family=Lato:wght@200;300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@200;300;400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    font-size: max(87.5%, calc(0.1852vw + 83.3333%));
}

@media (min-width: 1440px) {
    html {
        font-size: min(calc(1.6667vw - 50.003%), 150%);
    }
}

@layer utilities {
    .modal-scrollbar::-webkit-scrollbar {
        width: 5px;
    }

    .modal-scrollbar::-webkit-scrollbar-track {
        margin: 5px 0;
    }

    .modal-scrollbar::-webkit-scrollbar-thumb {
        background: theme('colors.main.skyblue');
        border-radius: 100vh;
        max-height: 50px;
        min-height: 50px;
    }

    .scrollbar::-webkit-scrollbar {
        width: 7px;
    }

    .scrollbar::-webkit-scrollbar-track {
        margin: 5px 0;
    }

    .scrollbar::-webkit-scrollbar-thumb {
        background: theme('colors.main.skyblue');
        border-radius: 100vh;
        max-height: 50px;
        min-height: 50px;
    }
}
